  <h1>Companies at Uncubed</h1>

  <ul>
  <% @companies.each do |company| %>
    <li><%= company.name %> (<%= company.size %>)
      <ol>
        <% company.jobs do |job| %>
          <li><%= job.title %></li>
        <% end %>
      </ol>
    </li>
  <% end %>
  </ul>
  <% Company.last.jobs do |job| %>
  <li><%= job.title %></li>
<% end %>